<section class="section-contacts">
    <div class="section-contacts__container container--content">

        <aside class="section-contacts__aside aside">
            <h2 class="aside__title">Contacts</h2>
            <p class="aside__text">Hire me.</p>
        </aside>


        <ul class="section-contacts__content contacts-content">
            <li class="contacts-content__item">
                <h5 class="contacts-content__title">Location</h5>
                <a href="https://www.google.com.ua/maps/place/%D0%91%D1%80%D1%83%D0%BA%D0%BB%D0%B8%D0%BD,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6454199,-74.0850822,11z/data=!3m1!4b1!4m5!3m4!1s0x89c24416947c2109:0x82765c7404007886!8m2!3d40.6781784!4d-73.9441579?hl=ru"
                    class="contacts-content__link" target="_blank">Brookyln, New York
                </a>
            </li>
            <li class="contacts-content__item">
                <h5 class="contacts-content__title">Phone</h5>
                <a href="tel:+772345480000" class="contacts-content__link" target="_blank">+77 234 548 00 00
                </a>
            </li>
            <li class="contacts-content__item">
                <h5 class="contacts-content__title">Email</h5>
                <a href="mailto:alex.teseira@gmail.com" class="contacts-content__link"
                    target="_blank">alex.teseira@gmail.com
                </a>
            </li>
            <li class="contacts-content__item">
                <h5 class="contacts-content__title">Web</h5>
                <a href="https://matevosianarutiun.github.io/Aircv/" class="contacts-content__link"
                    target="_blank">alex.teseira.com
                </a>
            </li>
        </ul>


    </div>
</section>