<section class="section-experience" id="experience">
    <div class="section-experience__container container">

        <aside class="section-experience__aside aside">
            <h2 class="aside__title">Experience</h2>
            <p class="aside__text">Batman would be jealous.</p>
        </aside>

        <div class="section-experience__content experience-content">
            <ul class="experience-content__list">
                <li class="experience-content__item">
                    <h3 class="experience-content__title">HTML5/CSS3</h3>
                    <p class="experience-content__text">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                        dolor</p>
                </li>
                <li class="experience-content__item">
                    <h3 class="experience-content__title">Photoshop</h3>
                    <p class="experience-content__text">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                        dolor</p>
                </li>
                <li class="experience-content__item">
                    <h3 class="experience-content__title">Front-and</h3>
                    <p class="experience-content__text">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                        dolor</p>
                </li>
            </ul>

        </div>


    </div>
</section>