<footer class="section-footer">
    <div class="section-footer__container container">

        <div class="section-footer logo">
            <img class="logo__image" src="images/logo-dark.png" alt="logo">
        </div>

        <div class="section-footer__content">
            <a target="_blank" class="section-footer__link" href="https://matevosianarutiun.github.io/Aircv/">Aircv</a>
            <p class="section-footer__text">Theme Powered by:</p>
            <a target="_blank" class="section-footer__link" href="https://keenthemes.com/">KeenThemes.com</a>
        </div>

    </div>
</footer>