<section class="section-intro" id="intro">
    <div class="section-intro__container container">

        <aside class="section-intro__aside aside">
            <h2 class="aside__title">Intro</h2>
            <p class="aside__text">What I am all about.</p>
        </aside>


        <div class="section-intro__content intro-content">
            <p class="intro-content__text">I'm Alex Teseira, orem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="intro-content__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>


            <ul class="section-intro__progress progress">

                <li class="progress__box">
                    <h5 class="progress__title">PHP<span class="progress__percent">87&#37;</span></h5>
                    <div class="progress__indicator-full">
                        <div class="progress__indicator progress__indicator_one"></div>
                    </div>
                </li>
                <li class="progress__box">
                    <h5 class="progress__title">HTML<span class="progress__percent">96&#37;</span></h5>
                    <div class="progress__indicator-full">
                        <div class="progress__indicator progress__indicator_two"></div>
                    </div>
                </li>
                <li class="progress__box">
                    <h5 class="progress__title">JavaSript<span class="progress__percent">52&#37;</span></h5>
                    <div class="progress__indicator-full">
                        <div class="progress__indicator progress__indicator_three"></div>
                    </div>
                </li>
                <li class="progress__box">
                    <h5 class="progress__title">Photoshop<span class="progress__percent">77&#37;</span></h5>
                    <div class="progress__indicator-full">
                        <div class="progress__indicator progress__indicator_four"></div>
                    </div>
                </li>

            </ul>

        </div>


    </div>
</section>