<section class="section-works" id="works">
    <div class="section-works__container container--content">

        <aside class="section-works__aside aside">
            <h2 class="aside__title">Works</h2>
            <p class="aside__text">I build the real value.</p>
        </aside>

        <div class="section-works__grid grid">

            <div class="grid__row grid__row--top">
                <div class="grid__image-wrapper grid__col--large">
                    <img class="grid__image" src="images/grid_01.jpg" alt="">
                </div>
                <div class="grid__image-wrapper grid__col--small">
                    <img class="grid__image" src="images/grid_02.jpg" alt="">
                </div>
            </div>


            <div class="grid__row grid__row--bottom">
                <div class="grid__image-wrapper grid__col--bottom">
                    <img class="grid__image" src="images/grid_03.jpg" alt="">
                </div>
                <div class="grid__image-wrapper grid__col--bottom">
                    <img class="grid__image" src="images/grid_04.jpg" alt="">
                </div>
                <div class="grid__image-wrapper grid__col--bottom">
                    <img class="grid__image" src="images/grid_05.jpg" alt="">
                </div>
            </div>

        </div>

    </div>
</section>