.section-experience {
    margin-bottom: 100px;
    background-color: $background-color;
    padding-top: 100px;
    &__container {
        @include flex(space-between, flex-start, row);
        height: 100%;
        padding-bottom: 100px;
    }
}