.section-footer {
    height: 100px;
    &__container {
        @include flex(space-between, center, row);
    }
    &__content {
        @include flex(space-between, center, row);
    }
    &__link {
        font-family: $main-font;
        @include text($H100, 700, $turquoise);
        transition: all 0.2s linear;
        &:hover {
            @include text($H100, 700, $title-color);
        }
    }
    &__link:not(:last-child) {
       margin-right: 10px;
    }
    &__text {
        @include text($H100, 400, $text-color);
        margin-right: 10px;
        font-family: $main-font;
    }
}