.navigation {
    z-index: 2;
    border-bottom: 1px solid $line;
    height: 95px;
    background-color: rgba(166, 172, 181, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__container {
        height: 100%;
        @include flex(space-between, center, row);
    }
}