.aside {
    @include flex(center, flex-end, column);
    &__title {
        @include text($H700, 700, $title-color);
        font-family: $main-font;
    }
    &__text {
        @include text($H100, 400, $text-color);
        font-family: $main-font;
        text-align: right;
    }
    
}