.social {
    &__list {
        @include flex(space-between, center, row);
    }
    
    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__icon {
        width: 25px;
        height: 25px;
        fill: $white;
        transform: scale(0.7, 0.7);
        transition: all 0.2s linear;
        &:hover {
            fill: aqua;
        }
    }
}